.container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #37393f;
  color: white;
}

.main-left,
.main-right {
  width: 50%;
  height: 100%;
}

.video-container {
  max-width: 90%;
  aspect-ratio: 16/9;
  background-color: black;
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#pre-head {
  width: 100%;
  color: #a3a3a3;
  font-size: 1.2rem;
}

#pre-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a3a3a3;
}

#pre-message {
  font-size: 1.3rem;
  margin: 0;
  color: aliceblue;
  font-weight: bold;
}

#vid-icon {
  font-size: 3rem;
  padding: 1rem;
  color: white;
}

.video-controls-top {
  padding: 20px 0;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#play-pause-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.play-pause-icons {
  color: aliceblue;
  font-size: 2rem;
}

#seek {
  flex-grow: 1;
  height: 6px;
}

.grey {
  color: #a3a3a3;
  margin-right: 0.5rem;
}

#divider {
  font-size: 1.3rem;
}

.time-display {
  display: flex;
  align-items: center;
}

.curr-time {
  width: 4rem;
}

.video-controls-middle {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.audio {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#audio-icon {
  font-size: 1.5rem;
}

#audio-inp {
  width: 4rem;
  height: 6px;
}

.react-draggable {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
