.container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #37393f;
  color: white;
}

.main-left, .main-right {
  width: 50%;
  height: 100%;
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

#pre-head {
  width: 100%;
  color: #a3a3a3;
  font-size: 1.2rem;
}

#pre-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a3a3a3;
}

#pre-message {
  font-size: 1.3rem;
  margin: 0;
  color: aliceblue;
  font-weight: bold;
}

#vid-icon {
  font-size: 3rem;
  padding: 1rem;
  color: white;
}